<div class="row">
  <% products.each do |product| %>
    <div class="col-sm-4 col-xs-12 link-for-product">
      <%= link_to potepan_product_path(product.id), id: "link-for-product-page" do %>
        <div class="productBox">
          <div class="productImage clearfix">
            <%= image_tag(product.display_image.attachment(:small), alt: "product_image") %>
          </div>
          <div class="productCaption clearfix">
            <h5><%= product.name %></h5>
            <h3><%= product.display_price %></h3>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
